.pf__footer {
    display:flex;
    justify-content: center;
}

.pf__footer img {
    width: 40px;
    padding: 10%;
    -webkit-filter: grayscale(1) contrast(50) brightness(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(1) contrast(50) brightness(1);
    cursor: pointer;
}